body{
  background: rgb(29, 1, 1);
}

.formulario{
  background: rgb(223, 219, 210);
  
  align-items: center;
  display: flex;
  flex-direction: column;
  
}

.titulo{
  color:rgb(29, 1, 1);
  font-size: 45px;
}

.boton{
  background: rgb(243, 177, 79);
  color: #fff;
}

.boton:hover{
  background: rgb(245, 132, 79);
  color: rgb(247, 242, 242);

}